body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#root, #root>.grid{
    height: 100%;
    margin: 0;
}

.App{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-out;
}

.column {
    max-width: 550px;
}

.message>h1,h3{
    font-family: 'Merienda' !important;
    color: white!important;
}

.message{
    background: rgba(0,0,0,.7)!important;
}

